body
{
  margin: 10px 0 ;
  padding: 0 ;
  text-align: center ;
  background-color: gray;
}

div#conteneur
{
  width: 1000px ;
  margin: 0 auto ;
  text-align: left ;
}

h1#header
{
  height: 500px ;
}

pre
{
  overflow: auto ;
}

<!--[if IE]>
<style type="text/css">
html pre
{
  width: 636px ;
}
</style>
<![endif]-->

body
{
    margin: 10px 0 ;
    padding: 0 ;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    background: #dea ;
}

div#conteneur
{
    width: 1800px ;
    margin: 0 auto ;
    text-align: left ;
    border: 3px solid #163494 ;
    background: #fff ;
}

h1#header
{
    height: 310px;
    background: url(logo.png) no-repeat center top;
}


div#contenu h2
{
    padding-left: 65px ;
    line-height: 65px ;
    font-size: 2em ;
    background: url(icone.png) no-repeat left bottom ;
    color: #9b2 ;
    border-bottom: 1px solid #9b2 ;
}

div#contenu h3
{
    margin-left: 15px ;
    padding-left: 5px ;
    border-bottom: 1px solid #9b2 ;
    border-left: 3px solid #9b2 ;
    color: #9b2 ;
}

div#contenu p
{
    text-align: justify ;
    text-indent: 2em ;
    line-height: 1.7em ;
}

div#contenu a
{
    color: #8a0 ;
}

div#contenu a:hover
{
    color: #9b2;
}

p#footer
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;
}

pre
{
    overflow: auto ;
    background: #dea ;
    border: 2px solid #9b2 ;
    padding: 5px 0 0 5px ;
    font-size: 1.2em ;
}

pre span
{
    color: #560 ;
}

pre span.comment
{
    color: #b30000 ;
}

body
{
    margin: 10px 0 ;
    padding: 0 ;
    text-align: center ;
    font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    background: black ;
}

div#conteneur
{
    width: 792px ;
    margin: 0 auto ;
    text-align: left ;
    border: 2px solid #ab4 ;
    background: #fff ;
}

h1#header
{
    height: 310px ;
    background: url(logo.png) no-repeat center top ;
    margin: 0 ;
}

h1#header a
{
    width: 450px ;
    height: 70px ;
    display: block ;
    position: relative ;
    left: 350px ;
    top: 15px ;
    text-indent: -5000px ;
}

ul#menu
{
    height: 35px ;
    margin: 0 ;
    padding: 0 ;
    
    
    list-style-type: none ;
}

ul#menu li
{
    float: left ;
    text-align: center ;
}

ul#menu li a
{
    width: 155px ;
    line-height: 25px ;
    font-size: 1em ;
    background-color: #A61D1D  ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #fff ;
    display: block ;
    text-decoration: none ;
    border-right: 2px solid black ;
}


ul#menu li a:hover
{
    background-color: #163494;
}



div#contenu h2
{
    padding-left: 65px ;
    line-height: 65px ;
    font-size: 2em ;
    background: url(icone.png) no-repeat left bottom ;
    color: #9b2 ;
    border-bottom: 1px solid #A61D1D ;
}

div#contenu h3
{
    margin-left: 15px ;
    padding-left: 5px ;
    border-bottom: 1px solid #9b2 ;
    border-left: 3px solid #9b2 ;
    color: #9b2 ;
}

div#contenu p
{
    text-align: justify ;
    text-indent: 2em ;
    line-height: 1.7em ;
}

div#contenu a
{
    color: #8a0 ;
}

div#contenu a:hover
{
    color: #9b2 ;
}

p#footer
{
    margin: 0 ;
    padding-right: 10px ;
    line-height: 30px ;
    text-align: right ;
    color: #8a0 ;
}

pre
{
    overflow: auto ;
    background: #dea ;
    border: 2px solid #9b2 ;
    padding: 5px 0 0 5px ;
    font-size: 1.2em ;
}

pre span
{
    color: #560 ;
}

pre span.comment
{
    color: #b30000 ;
}