{% extends 'TestBundle::layout.html.twig' %}

{% block title %}Ajout Utilisateur{% endblock %}

{% block body %}
    <!-- Page d'ajout d'un utilisateur -->
<div class="row ">
    <div class="col-md-offset-2 col-md-8" style="padding-top: 20px">
        <!-- Afficage du formulaire d'ajout d'utilisateur -->
        {{ form(form) }}

    </div>
</div>

{% endblock %}



