{% extends 'TestBundle::layout.html.twig' %}
{% block body %}



     <div class="row" style="margin-left: 0px;margin-right: 0px;" >
         <div class="col-md-offset-2 col-md-8">
             <h1 style="background-color: red;font-size: 50px">Erreur seul les utilisateurs possédent des fiches fraits</h1>
         </div>
     </div>

{% endblock %}
